:root {
	--foreground-colour: #fff;
	--foreground-colour-opposite: #000;
	--foreground-colour-seethrough: rgba(255, 255, 255, .4);
	--background-colour: #fff;
	--background-colour-transparent: rgba(255, 255, 255, 0);
	--selection-background: #fff;
	--selection-colour: #000;
	--font-running: 100 200%/1.4 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
	--silde-panel: transform .14s ease-out;
}

@media screen and (min-aspect-ratio: 13/9), (min-device-aspect-ratio: 13/9) {
	/* orientation:landscape */
	:root {
		--font-size: 10vh;
		--margin-unit: 5vh;
		--margin-unit-half: 2.5vh;
	}
}
@media screen and (max-aspect-ratio: 13/9), (max-device-aspect-ratio: 13/9) {
	/* orientation:portrait */
	:root {
		--font-size: 10vw;
		--margin-unit: 5vw;
		--margin-unit-half: 2.5vw;
	}
}
@media screen and (min-width: 800px) {
	/* medium screen */
	:root {
		--font-size: 5vw;
		--margin-unit: 2.5vw;
		--margin-unit-half: 1.25vw;
	}
}
@media screen and (min-width: 1040px) {
	/* medium screen */
	:root {
		--font-size: 2.5vw;
		--margin-unit: 1.25vw;
		--margin-unit-half: .625vw;
	}
}
::selection {
	background: var(--selection-background);
	color: var(--selection-colour);
}
@keyframes fade-in {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
* {
	margin: 0;
	padding: 0;
	font-weight: 100;
	outline: none;
	outline-style: none;
	-webkit-tap-highlight-color: transparent;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	font: var(--font-running);
	font-size: var(--font-size);
	color: var(--foreground-colour);
	background: var(--background-colour);
	display: grid;
}
button, textarea {
	font: var(--font-running);
}
main, article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em var(--margin-unit) var(--margin-unit);
}
@media screen and (min-width: 800px) {
	article, main {
		max-width: 600px;
		margin: 0 auto;
		justify-content: space-around;
	}
}
main {
	padding: var(--margin-unit);
}
article {
	padding: 2em var(--margin-unit) var(--margin-unit);
}
header {
	font-size: 1em;
	margin-bottom: var(--margin-unit);
}
.site-title {
	width: 80vw;
	max-width: 4em;
}
h1 {
	width: 90vw;
	font-size: 2.1em;
	text-align: center;
}
p {
	font-size: .6em;
	margin-bottom: var(--margin-unit);
}
a {
	color: var(--foreground-colour);
	text-decoration: none;
}
strong {
	font-weight: 500;
}
.link {
	text-decoration: underline;
}
mark {
	background: var(--background-colour);
	color: var(--foreground-colour);
	filter: hue-rotate(180deg);
}
.play {
	display: block;
	position: relative;
	text-align: center;
	border-radius: 50%;
	width: 4em;
	height: 4em;
	margin: 1em;
	transition: box-shadow .3s, transform .3s;
	transform: translate(0, 0);
	filter: hue-rotate(180deg);
	box-shadow: inset -.1em -.2em rgba(0, 0, 0, .3);
	background: url(/images/do.svg) var(--background-colour) center/1em no-repeat;
}
.play:focus, .play:active {
	transform: translate(.05em, .1em);
	box-shadow: inset .1em .2em rgba(0, 0, 0, .3);
}

.hamburger {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: var(--margin-unit);
	box-sizing: content-box;
	font-size: 13px;
	width: 2em;
  height: 2em;
  display: flex;
  flex-direction: column;
	justify-content: start;
	border: 0;
	background: none;
}
.hamburger i,
.hamburger i:before,
.hamburger i:after {
	display: block;
	background: var(--foreground-colour);
	border: 0;
	width: 2em;
	height: 3px;
	border-radius: 1px;
	transition: transform .275s cubic-bezier(.68,-.55,.265,1.55), background .14s linear;
}
.navopen .hamburger i,
.navopen .hamburger i:before,
.navopen .hamburger i:after {
	background: var(--background-colour);
}
.hamburger i:before,
.hamburger i:after {
	content: ' ';
}
.hamburger i:before { transform: translate(0, 7px) }
.hamburger i:after  { transform: translate(0, 11px) }
.navopen .hamburger i:before { transform: translate(0, 0) }
.navopen .hamburger i { transform: rotate(45deg) translate(.5em, .5em) }
.navopen .hamburger i:after  { transform: rotate(90deg) translate(-3px, 0) }
nav {
	transition: var(--silde-panel);
	transform: translate(-100%, 0);
	height: 100%;
	position: fixed;
	z-index: 0;
	left: 0;
	color: var(--background-colour);
	background: var(--foreground-colour);
	padding: 1.5em 0 .5em;
	box-sizing: border-box;
	overflow: auto;
}
.navopen nav {
	transform: translate(0, 0);
}
nav a {
	color: inherit;
	display: block;
	padding: .25em var(--margin-unit);
	font-size: .75em;
}
nav a[href^="http"]:after {
	content: " ";
	background-color: var(--background-colour);
	-webkit-mask-image: url(/icons/external-link.svg);
	mask-image: url(/icons/external-link.svg);
	-webkit-mask-size: contain;
	mask-size: contain;
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 0 0 .25em;
	font-size: .75em;
	vertical-align: top;
}
.center {
	text-align: center;
}
.standalone-only {
	display: none;
}
@media(display-mode: standalone) {
	.web-only {
		display: none;
	}
	.standalone-only {
		display: initial;
	}
	.standalone-only.block {
		display: block;
	}
}
dialog {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	border: 0;
	box-sizing: border-box;
	color: var(--background-colour);
	background: var(--foreground-colour);
  text-align: center;
	transition: var(--silde-panel);
	transform: translate(0, 100%);
}
dialog.show {
	transform: translate(0, 0);
}
dialog h3 {
	padding: var(--margin-unit) var(--margin-unit) 0;
	font-size: .75em;
}
dialog .close {
	float: right;
	display: block;
	font-size: 1em;
	width: 1em;
	color: var(--background-colour);
	background: transparent;
}
dialog menu {
	display: flex;
  justify-content: space-between;
  padding: var(--margin-unit);
}
dialog button {
	border: 0;
}
dialog menu button {
	background: var(--background-colour);
	color: var(--foreground-colour);
	padding: .6em 1em .75em;
	border-radius: 5px;
	flex-grow: 1;
	font-size: .5em;
}
