:root {
	--foreground-colour: #fff;
	--foreground-colour-opposite: #000;
	--foreground-colour-seethrough: rgba(255, 255, 255, .4);
	--background-colour: #fff;
	--background-colour-transparent: rgba(255, 255, 255, 0);
	--selection-background: #fff;
	--selection-colour: #000;
	--font-running: 100 200%/1.4 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
	--radius-unit: .5em;
}
@media screen and (min-aspect-ratio: 13/9) {
	/* orientation:landscape */
	:root {
		--font-size: 10vh;
		--margin-unit: 5vh;
	}
}
@media screen and (max-aspect-ratio: 13/9) {
	/* orientation:portrait */
	:root {
		--font-size: 10vw;
		--margin-unit: 5vw;
	}
}
::selection {
	background: var(--selection-background);
	color: var(--selection-colour);
}
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v7/k3kUo8kEI-tA1RRcTZGmTlHGCaen8wf-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.font-face {
	font-family: 'Fredoka One', cursive;
  animation: fade-in 1s linear;
}
@keyframes fade-in {
  0% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
* {
	margin: 0;
	padding: 0;
	font-weight: 100;
	outline: none;
	outline-style: none;
	-webkit-tap-highlight-color: transparent;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	font: var(--font-running);
	font-size: var(--font-size);
	color: var(--foreground-colour);
	background: var(--background-colour);
	display: grid;
}
main, article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: var(--margin-unit);
}
header {
	font-size: 1em;
	margin-bottom: var(--margin-unit);
}
article {
}
h1 {
	width: 90%;
	font-size: 2.1em;
	text-align: center;
}
p {
	font-size: .6em;
	margin-bottom: var(--margin-unit);
}
a {
	color: var(--foreground-colour);
	text-decoration: none;
}
strong {
	font-weight: 500;
}
img[src="/zany.svg"],
img[src="/share.svg"] {
	width: 1em;
	height: 1em;
}
.link {
	display: contents;
	text-decoration: underline;
}
mark, .play {
	color: var(--foreground-colour);
	background: var(--background-colour);
	filter: hue-rotate(180deg);
}
.play {
	display: inline-block;
	position: relative;
	text-align: center;
	border-radius: 50%;
	width: 4em;
	line-height: 4em;
	margin: 1em;
	transition: box-shadow .3s, transform .3s;
	transform: translate(0, 0);
	box-shadow: inset -.1em -.2em rgba(0, 0, 0, .3);
}
.play:focus, .play:active {
	transform: translate(.05em, .1em);
	box-shadow: inset .1em .2em rgba(0, 0, 0, .3);
}
.about, .share {
	position: fixed;
	bottom: var(--margin-unit);
	height: 1em;
	line-height: 1em;
}
.about {
	right: var(--margin-unit);
}
.share {
	left: var(--margin-unit);
	cursor: pointer;
}
.center {
	text-align: center;
}
.standalone-only {
	display: none;
}
@media(display-mode:standalone) {
	.web-only {
		display: none;
	}
	.standalone-only {
		display: initial;
	}
}
dialog {
	position: fixed;
	bottom: var(--margin-unit);
	left: var(--margin-unit);
	width: 90vw;
	background: rgba(0, 0, 0, .9);
	border: 0;
	border-radius: 5px;
	padding: 1em;
	box-sizing: border-box;
	color: white;
	font-size: .5em;
  text-align: center;
	transition: transform .5s ease-out;
	transform: translate(0, 200%);
}
dialog.show {
	transform: translate(0, 0);
}
dialog menu {
	margin-top: 1em;
	display: flex;
  justify-content: space-between;
}
dialog button {
	color: white;
	padding: .5em 1em .75em;
	font-size: .7em;
	border: 0;
	border-radius: 5px;
	background: var(--background-colour);
}
