header {
	width: 100%;
	text-align: center;
}
div {
	width: 100%;
	overflow: hidden;
	transition: height 1s ease-out;
}
form {
	width: 100%;
	display: flex;
	flex-direction: column;
}
textarea, button {
	font: var(--font-running);
	padding: .5em;
	width: 100%;
	box-sizing: border-box;
	border: none;
	font-size: .5em;
	transition: filter .3s;
}
button {
	background: var(--background-colour);
	color: var(--foreground-colour);
	border: 1px solid var(--foreground-colour);
	margin-bottom: var(--margin-unit);
	border-radius: 0 0 .5em .5em;
}
textarea {
	background: var(--foreground-colour);
	color: var(--foreground-colour-opposite);
	min-height: 5em;
	resize: vertical;
	border-radius: .5em .5em 0 0;
}
::placeholder {
  color: var(--background-colour);
}
form[disabled] textarea {
	filter: brightness(.62);
}
form[disabled] button {
	filter: grayscale(100%);
}
